body{
  
    background: #571010;

}
#container{
    background: #f1efef;
    width: 70%;
    font-family: cursive;
    margin: 0px auto;
    padding: 0px;

}

#cabecera{
    text-align: center;
    background: #07418d;
    color:white;
    box-shadow: 7px 9px 16px 0px rgba(0,0,0,0.75);
   
}
#logo{
    height: 45px;
   float: left;
   margin-left: 30px;
}